* {
	margin: 0;
	padding: 0;
	font: normal 100 14px/25px "Microsoft Yahei", sans-serif;
	outline: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #494949;
}
ul {
	list-style: none;
}
html, body {
	width: 100%;
}
/* 清浮动 */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	zoom: 1;
}

/* 弹出层 */
.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 222;
	display: none;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

/* 登录框和注册框 */
.sign-in, .sign-up {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	margin: -125px 0px 0px -160px;
	width: 320px;
	height: 250px;
	z-index: 333;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow:0px 0px 7px #ccc;
	   -moz-box-shadow:0px 0px 7px #ccc;
	        box-shadow:0px 0px 7px #ccc;
}
.sign-in p, .sign-up p {
	color: #000;
	width: 100%;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	background-color: #dbe0e4;
	border-radius: 5px 5px 0px 0px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.sign-in p i, .sign-up p i {
	cursor: pointer;
	margin-top: 7px;
	height: 25px;
	width: 25px;
	font-size: 16px;
	color: #4c4c4c;
	float: right;
	margin-right: 10px;
	opacity: .6;
}
.sign-in p i:hover, .sign-up p i:hover {
	opacity: 1;
}
.user, .pw, .user_up, .pw_up {
	width: 210px;
	height: 31px;
	border: 1px solid #dbe0e4;
	border-radius: 4px;
	font-size: 16px;
	display: inline-block;
	text-indent: 5px;
	margin: 10px 0px;
}
label {
	display: block;
}
label:nth-child(1) {
	margin-left: 15px;
}
label:nth-child(2) {
	margin-left: 17px;
}
.sign-in-sub, .sign-up-sub {
	text-align: center;
	display: block;
	margin: 20px auto;
	background-color: #6fc052;
	width: 80px;
	line-height: 33px;
	border-radius: 4px;
	border: 1px solid #6fc052;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft Yahei", sans-serif;
}

/* 页头 */
header {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	border-bottom: 1px solid #c6c6c6;
	background-color: #fff;
	box-shadow: 0px 5px 5px #ccc;
}
nav {
	float: right;
	margin-right: 100px;
}
nav a {
	font-size: 16px;
	display: block;
	line-height: 40px;
	text-align: center;
	opacity: .6;
	-webkit-transition: opacity .5s;
	   -moz-transition: opacity .5s;
	        transition: opacity .5s;
}
nav a:hover {
	opacity: 1;
}
nav li.first {
	float: left;
	width: 45px;
	margin: 5px 10px 0px 0px;
}
.first:nth-child(3) {
	width: 80px;
}
.second {
	display: none;
}

/* 错误信息显示 */
div.showMsg {
	display: none;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	background-color: #ff8514;
	color: #ffffff;
	letter-spacing: 1px;
	position: absolute;
	z-index: 999;
	top: 35%;
	left: 50%;
	margin-left: -150px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}

/* 计划输入提交控件 */
input.plan {
	width: 260px;
	text-indent: 5px;
}
.submit {
	margin-left: 10px;
	width: 50px;
	height: 30px;
}
div.write {
	width: 500px;
	height: auto;
	margin: 0px auto;
	padding-top: 20px;
}
p.show {
	line-height: 30px;
	font-size: 16px;
	margin: 20px 0px 10px 20px;
	color: red;
}

/* 计划显示区 */
div.wrapper {
	width: 100%;
	height: auto;
	padding-left: 50px;
}
div.wrapper a {
	color: red;
	margin-left: 30px;
	text-decoration: underline;
}
.date {
	font-size: 16px;
	color: green;
}
.wrapper p {
	margin-left: 10px;
	line-height: 30px;
	font-size: 16px;
}